Email-Automation.json
{
  "name": "Email-Automation",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1040,
        48
      ],
      "id": "a02502a6-c33e-4630-a280-834ed3b0ccfa",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.body }}",
        "options": {
          "senderName": "Tanvi Tech Pvt. Ltd"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1280,
        32
      ],
      "id": "9154b3e3-e847-4dec-81ba-995214a91d65",
      "name": "Send a message",
      "webhookId": "df9e181a-7fce-46c5-82f3-b4fb90383504",
      "credentials": {
        "gmailOAuth2": {
          "id": "rVGDRDl0XQmQR2JL",
          "name": "Gmail"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1oj9fMom5mqascKnsJGEivA-vCZ6o1T6RZL7GyNdKU40",
          "mode": "list",
          "cachedResultName": "Tanvi-Customer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oj9fMom5mqascKnsJGEivA-vCZ6o1T6RZL7GyNdKU40/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oj9fMom5mqascKnsJGEivA-vCZ6o1T6RZL7GyNdKU40/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -688,
        48
      ],
      "id": "fe6257b1-6548-4cd4-bfde-23a369e0188f",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "B5M3zqCl9NCaqVPZ",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b6fce910-2aa4-4652-a698-1fde85aa94ae",
              "leftValue": "={{ $json['Send Status '] }}",
              "rightValue": "SENT",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -368,
        48
      ],
      "id": "c2584794-07f2-460e-9691-3b2b2963947f",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -16,
        32
      ],
      "id": "956641c3-8eaf-4891-9a92-e3540b15b1b3",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1oj9fMom5mqascKnsJGEivA-vCZ6o1T6RZL7GyNdKU40",
          "mode": "list",
          "cachedResultName": "Tanvi-Customer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oj9fMom5mqascKnsJGEivA-vCZ6o1T6RZL7GyNdKU40/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1640684736,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oj9fMom5mqascKnsJGEivA-vCZ6o1T6RZL7GyNdKU40/edit#gid=1640684736"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        288,
        -288
      ],
      "id": "f66a180d-9db9-4a8b-b21c-95cdef1a9f6a",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "B5M3zqCl9NCaqVPZ",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get templates from previous node\nconst templates = items.map(item => item.json);\n\n// Check if templates exist\nif (!templates || templates.length === 0) {\n  throw new Error('No templates found');\n}\n\n// Pick a random template\nconst index = Math.floor(Math.random() * templates.length);\nconst template = templates[index];\n\n// Convert body to HTML\nconst bodyHtml = template.Body.replace(/\\n/g, '<br>');\n\n// Return in n8n-compatible format\nreturn [\n  {\n    json: {\n      subject: template.Subject,\n      body: bodyHtml\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        -288
      ],
      "id": "b993be1c-fc4f-4b74-8b63-2bd66cedf5de",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        560,
        32
      ],
      "id": "3d3321c2-c72d-4093-bff3-134af9b221fb",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2b3190d-f2c2-48a8-a9b3-bc0b3a96e4db",
              "name": "body",
              "value": "={{ $json.body.replace(\"[Client Name]\", $json[\"Name\"] && $json[\"Name\"].trim() !== '' ? $json[\"Name\"].trim() : \"there\") }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        16
      ],
      "id": "09e89dc6-d028-4f75-8796-82128fd7b478",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1536,
        -224
      ],
      "id": "d9b5257f-3598-4cbd-a483-bbc1e6293805",
      "name": "Merge1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1oj9fMom5mqascKnsJGEivA-vCZ6o1T6RZL7GyNdKU40",
          "mode": "list",
          "cachedResultName": "Tanvi-Customer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oj9fMom5mqascKnsJGEivA-vCZ6o1T6RZL7GyNdKU40/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oj9fMom5mqascKnsJGEivA-vCZ6o1T6RZL7GyNdKU40/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.Email }}",
            "Time": "={{ new Date().toLocaleTimeString(\"en-GB\", { timeZone: \"Asia/Kolkata\", hour12: false }) }}",
            "Send Status ": "={{ $json.labelIds[0] }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Service",
              "displayName": "Service",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Send Status ",
              "displayName": "Send Status ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1776,
        64
      ],
      "id": "953eb074-0c0f-4a6e-bebd-ad45a61a1ab0",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "B5M3zqCl9NCaqVPZ",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1568,
        240
      ],
      "id": "8e882149-4f35-4fd2-9736-6cd106ee1cde",
      "name": "Wait",
      "webhookId": "30a5c0eb-8334-4643-9cfd-722a295cf894"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "af6ed99c-5d38-41ca-9ae5-0bdba47e5697",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "346496cd48ffedf4507f3e6bffce8c50f241c5f6eb494e25f6423e6795786891"
  },
  "id": "YVi1njHk4qJrMVDc",
  "tags": []
}